<footer class="footer">
  <!-- <div class="footer__logo-box">

      <picture class="footer__logo">
          <source srcset="../../assets/img/rxlogo.png 1x, ../../rxlogo.png 2x"
                  media="(max-width: 37.5em)">
          <img srcset="../../assets/img/rxlogo.png 1x, ../../rxlogo.png 2x" alt="Full logo" src="../../assets/img/rxlogo.png">
      </picture>
  </div> -->
  <div class="row">
      <div class="col-1-of-2">
          <div class="footer__navigation">
              <ul class="footer__list">
                  <li class="footer__item"><a [routerLink]="['/home']" class="footer__link">Home</a></li>
                  <li class="footer__item"><a [routerLink]="['/what-is-rxjs']" class="footer__link">What is RxJS</a></li>
                  <li class="footer__item"><a [routerLink]="['/why-rxjs']" class="footer__link">Why RxJS</a></li>
                  <li class="footer__item"><a [routerLink]="['/operators']" class="footer__link">Operators</a></li>
                  <li class="footer__item"><a [routerLink]="['/custom-operator']" class="footer__link">Custom Operator</a></li>
              </ul>
          </div>
      </div>
      <div class="col-1-of-2">
          <p class="footer__copyright">
              Built by <a href="https://www.linkedin.com/in/alejandroibanezp/" class="footer__link">Alejandro Ibáñez.</a> RxJS Guide.
              Copyright &copy; Jonas Schmedtmann. 
          </p>
      </div>
  </div>
</footer>
