<app-navigator></app-navigator>

<div class="u-center-text u-margin-top-huge">
  <a [routerLink]="['/home']" class="btn-text">&larr; Back Home</a>
</div>

<section class="section-stories">
<!-- <div class="bg-video">
    <video class="bg-video__content" autoplay muted loop>
        <source src="../../../assets/img/video.mp4" type="video/mp4">
        <source src="../../../assets/img/video.webm" type="video/webm">
        Your browser is not supported!
    </video>
</div> -->


<div class="row">
  <div class="story">
      <div class="story__text">

<div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">
        Some Photos and videos:
    </h2>
</div>

<video width="320" height="240" controls muted>
  <source src="../../../assets/img/IMG_6788.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>


<video width="320" height="240" controls muted>
  <source src="../../../assets/img/IMG_6789.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>


<video width="320" height="240" controls muted>
  <source src="../../../assets/img/IMG_6818.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>


<video width="320" height="240" controls muted>
  <source src="../../../assets/img/IMG_6821.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>

<video width="320" height="240" controls muted>
  <source src="../../../assets/img/IMG_6822.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>

<video width="320" height="240" controls muted>
  <source src="../../../assets/img/IMG_6830.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>

<video width="320" height="240" controls muted>
  <source src="../../../assets/img/IMG_6829.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>

</div>
</div>
</div>

<!-- <div class="row">
          <h3 class="heading-tertiary u-margin-bottom-small">Videos</h3>
          <div class="bg-video">
            <video class="bg-video__content" autoplay muted loop>
                <source src="img/video.mp4" type="video/mp4">
                <source src="img/video.webm" type="video/webm">
                Your browser is not supported!
            </video>
        </div>
</div> -->

<div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">Photos</h3>
          <img style="max-width: 100%" src="../../assets/img/villa_0.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/villa_1.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/villa_2.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/villa_3.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/villa_4.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/villa_5.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/villa_6.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/villa_8.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/habitacion_camas.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/habitacion_grande.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/camas_habitacion.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/camas_habitacion2.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/hall_1.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/hall_2.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/salon_1.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/azotea1.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/azotea2.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/bano_1.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/bano_2.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/cocina.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/cocina2.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/z_parcela.png" alt="">
          <img style="max-width: 100%" src="../../assets/img/z_parcela2.png" alt="">
          <img style="max-width: 100%" src="../../assets/img/jardin.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/terreno_plantas.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/land_1.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/land_2.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/land_3.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/land_4.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/land_5.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/land_6.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/trastero.jpg" alt="">
          <img style="max-width: 100%" src="../../assets/img/trastero_plantas.jpg" alt="">

      </div>
  </div>
</div>

<!-- <div class="row">
  <div class="story">
    <h3 class="heading-tertiary u-margin-bottom-small">Marble Diagrams</h3>
      <img style="max-width: 100%" src="../../../assets/img/marble-diagram.png" alt="">
  </div>
</div> -->


<!-- <div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">Some common operators and examples</h3>
          <p>
            RxJS provides many operators, but only a handful are used frequently. 
            <br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/Operator-table.png" alt="">
          
      </div>
  </div>
</div> -->

<!-- <div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">merge</h3>
          <p>
            Creates an output Observable which concurrently emits all values from every given input Observable. <br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/merge.png" alt="">

          <img style="max-width: 100%" src="../../../assets/img/merge-code.png" alt="">
      </div>
  </div>
</div> -->

<!-- <div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">switchMap</h3>
          <p>
            Projects each source value to an Observable which is merged in the output Observable, emitting values only from the most recently projected Observable. <br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/switch-map-marble.png" alt="">

          <img style="max-width: 100%" src="../../../assets/img/switch-map-code.png" alt="">
      </div>
  </div>
</div> -->


<!-- <div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">switchMap</h3>
          <p>
            Projects each source value to an Observable which is merged in the output Observable, emitting values only from the most recently projected Observable. <br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/switch-map-marble.png" alt="">

          <img style="max-width: 100%" src="../../../assets/img/switch-map-code.png" alt="">
      </div>
  </div>
</div> -->


<!-- <div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">skipWhile</h3>
          <p>
            Returns an Observable that skips all items emitted by the source Observable as long as a specified condition holds true, but emits all further source items as soon as the condition becomes false.<br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/skip-while-marble.png" alt="">

      </div>
  </div>
</div>

<div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">skipUntil</h3>
          <p>
            Returns an Observable that skips items emitted by the source Observable until a second Observable emits an item. <br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/skip-until-marble.png" alt="">

          <img style="max-width: 100%" src="../../../assets/img/skip-until-code.png" alt="">
      </div>
  </div>
</div> -->


<!-- <div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">takeUntil</h3>
          <p>
            Emits the values emitted by the source Observable until a notifier Observable emits a value. <br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/take-until-marble.png" alt="">

          <img style="max-width: 100%" src="../../../assets/img/take-until-code.png" alt="">
      </div>
  </div>
</div>

<div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">takeLast</h3>
          <p>
            Emits only the last count values emitted by the source Observable. <br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/take-last-marble.png" alt="">

          <img style="max-width: 100%" src="../../../assets/img/take-last-code.png" alt="">
      </div>
  </div>
</div> -->


<div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">Links:</h3>
          <p>
            https://idealista.com<br><br>
            <!-- https://www.learnrxjs.io/learn-rxjs/operators <br> <br>
            https://rxmarbles.com/ <br> <br> -->
          </p>
      </div>
  </div>
</div>


</section>

<app-footer></app-footer>
