<app-navigator></app-navigator>

<div class="u-center-text u-margin-top-huge">
  <a [routerLink]="['/home']" class="btn-text">&larr; Back Home</a>
</div>

<section class="section-stories">
<!-- <div class="bg-video">
    <video class="bg-video__content" autoplay muted loop>
        <source src="../../../assets/img/video.mp4" type="video/mp4">
        <source src="../../../assets/img/video.webm" type="video/webm">
        Your browser is not supported!
    </video>
</div> -->



<div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">
        Some Photos and videos:
    </h2>
</div>

<div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">Photos</h3>
          <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, otam rem aperiam, eaque ipsa <br>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, otam rem aperiam, eaque ipsa. <br> <br>
          </p>
          <img style="max-width: 100%" src="../../assets/img/villa_example.jpg" alt="">
          <p>
              Sed ut perspiciatis unde omnis iste natus error
          </p>
          <img style="max-width: 100%" src="../../assets/img/villa_example.jpg" alt="">
          <p>
              Sed ut perspiciatis unde omnis iste natus  <br>
              Sed ut perspiciatis unde omnis iste natus error. <br>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, otam rem aperiam, eaque ipsa.
          </p>
      </div>
  </div>
</div>

<div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">Photos</h3>
          <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, otam rem aperiam, eaque ipsa <br>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, otam rem aperiam, eaque ipsa. <br> <br>
          </p>
          <img style="max-width: 100%" src="../../assets/img/villa_example.jpg" alt="">
          <p>
              Sed ut perspiciatis unde omnis iste natus error
          </p>
          <img style="max-width: 100%" src="../../assets/img/villa_example.jpg" alt="">
          <p>
              Sed ut perspiciatis unde omnis iste natus  <br>
              Sed ut perspiciatis unde omnis iste natus error. <br>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, otam rem aperiam, eaque ipsa.
          </p>
      </div>
  </div>
</div>

<div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">Photos</h3>
          <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, otam rem aperiam, eaque ipsa <br>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, otam rem aperiam, eaque ipsa. <br> <br>
          </p>
          <img style="max-width: 100%" src="../../assets/img/villa_example.jpg" alt="">
          <p>
              Sed ut perspiciatis unde omnis iste natus error
          </p>
          <img style="max-width: 100%" src="../../assets/img/villa_example.jpg" alt="">
          <p>
              Sed ut perspiciatis unde omnis iste natus  <br>
              Sed ut perspiciatis unde omnis iste natus error. <br>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, otam rem aperiam, eaque ipsa.
          </p>
      </div>
  </div>
</div>

<div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">Photos</h3>
          <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, otam rem aperiam, eaque ipsa <br>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, otam rem aperiam, eaque ipsa. <br> <br>
          </p>
          <img style="max-width: 100%" src="../../assets/img/villa_example.jpg" alt="">
          <p>
              Sed ut perspiciatis unde omnis iste natus error
          </p>
          <img style="max-width: 100%" src="../../assets/img/villa_example.jpg" alt="">
          <p>
              Sed ut perspiciatis unde omnis iste natus  <br>
              Sed ut perspiciatis unde omnis iste natus error. <br>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, otam rem aperiam, eaque ipsa.
          </p>
      </div>
  </div>
</div>

<div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">Photos</h3>
          <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, otam rem aperiam, eaque ipsa <br>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, otam rem aperiam, eaque ipsa. <br> <br>
          </p>
          <img style="max-width: 100%" src="../../assets/img/villa_example.jpg" alt="">
          <p>
              Sed ut perspiciatis unde omnis iste natus error
          </p>
          <img style="max-width: 100%" src="../../assets/img/villa_example.jpg" alt="">
          <p>
              Sed ut perspiciatis unde omnis iste natus  <br>
              Sed ut perspiciatis unde omnis iste natus error. <br>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, otam rem aperiam, eaque ipsa.
          </p>
      </div>
  </div>
</div>


<!-- <div class="row">
  <div class="story">
    <h3 class="heading-tertiary u-margin-bottom-small">Marble Diagrams</h3>
      <img style="max-width: 100%" src="../../../assets/img/marble-diagram.png" alt="">
  </div>
</div> -->


<!-- <div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">Some common operators and examples</h3>
          <p>
            RxJS provides many operators, but only a handful are used frequently. 
            <br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/Operator-table.png" alt="">
          
      </div>
  </div>
</div> -->

<!-- <div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">merge</h3>
          <p>
            Creates an output Observable which concurrently emits all values from every given input Observable. <br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/merge.png" alt="">

          <img style="max-width: 100%" src="../../../assets/img/merge-code.png" alt="">
      </div>
  </div>
</div> -->

<!-- <div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">switchMap</h3>
          <p>
            Projects each source value to an Observable which is merged in the output Observable, emitting values only from the most recently projected Observable. <br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/switch-map-marble.png" alt="">

          <img style="max-width: 100%" src="../../../assets/img/switch-map-code.png" alt="">
      </div>
  </div>
</div> -->


<!-- <div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">switchMap</h3>
          <p>
            Projects each source value to an Observable which is merged in the output Observable, emitting values only from the most recently projected Observable. <br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/switch-map-marble.png" alt="">

          <img style="max-width: 100%" src="../../../assets/img/switch-map-code.png" alt="">
      </div>
  </div>
</div> -->


<!-- <div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">skipWhile</h3>
          <p>
            Returns an Observable that skips all items emitted by the source Observable as long as a specified condition holds true, but emits all further source items as soon as the condition becomes false.<br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/skip-while-marble.png" alt="">

      </div>
  </div>
</div>

<div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">skipUntil</h3>
          <p>
            Returns an Observable that skips items emitted by the source Observable until a second Observable emits an item. <br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/skip-until-marble.png" alt="">

          <img style="max-width: 100%" src="../../../assets/img/skip-until-code.png" alt="">
      </div>
  </div>
</div> -->


<!-- <div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">takeUntil</h3>
          <p>
            Emits the values emitted by the source Observable until a notifier Observable emits a value. <br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/take-until-marble.png" alt="">

          <img style="max-width: 100%" src="../../../assets/img/take-until-code.png" alt="">
      </div>
  </div>
</div>

<div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">takeLast</h3>
          <p>
            Emits only the last count values emitted by the source Observable. <br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/take-last-marble.png" alt="">

          <img style="max-width: 100%" src="../../../assets/img/take-last-code.png" alt="">
      </div>
  </div>
</div> -->


<div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">Links:</h3>
          <p>
            https://idealista.com<br><br>
            <!-- https://www.learnrxjs.io/learn-rxjs/operators <br> <br>
            https://rxmarbles.com/ <br> <br> -->
          </p>
      </div>
  </div>
</div>


</section>

<app-footer></app-footer>
