// COLORS
$color-primary: #1bd873;
$color-primary-light: #47d81b;
$color-primary-dark: #116e4f;

$color-secondary-light: #4c2ef8;
$color-secondary-dark: #170b4b;

$color-tertiary-light: #770e34;
$color-tertiary-dark: #080104;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #6e6a6c;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;