<section class="section-book">
  <div class="row">
      <div>
          <!-- <div class="book__form">
              <form action="#" class="form">
                  <div class="u-margin-bottom-medium">
                      <h2 class="heading-secondary">
                          Start booking now
                      </h2>
                  </div>

                  <div class="form__group">
                      <input type="text" class="form__input" placeholder="Full name" id="name" required>
                      <label for="name" class="form__label">Full name</label>
                  </div>

                  <div class="form__group">
                      <input type="email" class="form__input" placeholder="Email address" id="email" required>
                      <label for="email" class="form__label">Email address</label>
                  </div>

                  <div class="form__group u-margin-bottom-medium">
                      <div class="form__radio-group">
                          <input type="radio" class="form__radio-input" id="small" name="size">
                          <label for="small" class="form__radio-label">
                              <span class="form__radio-button"></span>
                              Small tour group
                          </label>
                      </div>

                      <div class="form__radio-group">
                          <input type="radio" class="form__radio-input" id="large" name="size">
                          <label for="large" class="form__radio-label">
                              <span class="form__radio-button"></span>
                              Large tour group
                          </label>
                      </div>
                  </div>

                  <div class="form__group">
                      <button class="btn btn--green">Next step &rarr;</button>
                  </div>
              </form>
          </div> -->

        <div class="row">
            <div class="story">
                <div class="story__text">
                    <h3 class="heading-tertiary u-margin-bottom-small">Some data:</h3>
                    <p>
                        150000 €<br> <br>
                    </p>
                    <p>
                        Where is located?:
                        - Camino Casas Ibáñez, 25
                        - Bixquert, Xàtiva, Spain.
                    </p>
                    <a href="https://www.google.com/maps/place/Camino+Casas+Ib%C3%A1%C3%B1ez,+25,+46800+J%C3%A1tiva,+Valencia/@38.9758507,-0.5075511,3a,75y,62.05h,83.81t/data=!3m6!1e1!3m4!1swfLQhfb2iXwFPNfn0Py41g!2e0!7i13312!8i6656!4m5!3m4!1s0xd6198bd4e0d0e87:0x6d52f4d425ef4ff0!8m2!3d38.9758314!4d-0.5074959">Link to Google Maps</a>
                    <img style="max-width: 100%" src="../../assets/img/mapa1.jpg" alt="">
                    <img style="max-width: 100%" src="../../assets/img/mapa2.jpg" alt="">
                    <img style="max-width: 100%" src="../../assets/img/mapa3.jpg" alt="">
                    <p>
                    </p>
                </div>
            </div>
        </div>
      </div>
  </div>
</section>
