<div class="u-center-text u-margin-top-huge">
    <a [routerLink]="['/home']" class="btn-text">&larr; Back Home</a>
</div>

<section class="section-stories">
  <!-- <div class="bg-video">
      <video class="bg-video__content" autoplay muted loop>
          <source src="../../../assets/img/video.mp4" type="video/mp4">
          <source src="../../../assets/img/video.webm" type="video/webm">
          Your browser is not supported!
      </video>
  </div> -->



  <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary">
          What is RxJS?
      </h2>
  </div>

  <div class="row">
      <div class="story">
          <figure class="story__shape">
              <img src="../../assets/img/rxjspurple.jpg" alt="Person on a tour" class="story__img">
              <figcaption class="story__caption">RxJS</figcaption>
          </figure>
          <div class="story__text">
              <h3 class="heading-tertiary u-margin-bottom-small">RxJS</h3>
              <p>
                Is an <b>asynchronous programming paradigm</b> concerned with <b>data streams</b> and the propagation of change.
                <br><br>
                RxJS (Reactive Extensions for JavaScript) is a library for reactive programming using <b>observables</b> that makes it easier to compose asynchronous or callback-based code.
                <br><br>
                ReactiveX combines the <b>Observer pattern</b> with the <b>Iterator pattern</b> and <b>functional programming</b> with collections to fill the need for an ideal way of managing <b>sequences of events</b>.
                <br><br>
                Composing asynchronous and event-based programs by using observable sequences. 
                <br><br>
                It provides one core type, the Observable, satellite types (Observer, Schedulers, Subjects) and <b>operators</b> inspired by Array extras (map, filter, reduce, every, etc) to allow handling asynchronous events as collections.

              </p>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="story">
          <figure class="story__shape">
              <img src="../../assets/img/observable.png" alt="Person on a tour" class="story__img">
              <figcaption class="story__caption">Observable</figcaption>
          </figure>
          <div class="story__text">
              <h3 class="heading-tertiary u-margin-bottom-small">Observable</h3>
              <p>
                Represents the idea of an invokable <b>collection of future values or events.</b>
                Lazy Push collections of multiple values.
                <br><br>
                RxJS provides an implementation of the Observable type, which is needed until the type becomes part of the language and until browsers support it. 
                <br><br>The library also provides <b>utility functions</b> for creating and working with observables. 
                These utility functions can be used for:
                <br>
                * Converting existing code for async operations into observables<br>
                * Iterating through the values in a stream<br>
                * Mapping values to different types<br>
                * Filtering streams<br>
                * Composing multiple streams
              </p>
          </div>
      </div>
  </div>

  <div class="row">
    <div class="story">
        <figure class="story__shape">
            <img src="../../assets/img/rxjs-subject.png" alt="Person on a tour" class="story__img">
            <figcaption class="story__caption">Observer & Subscription</figcaption>
        </figure>
        <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">Observer & Subscription</h3>
            <p>
                <b>Observer</b>:
              <br>
              Is a collection of callbacks that knows how to listen to values delivered by the Observable.
              <br><br>
              <b>Subscription</b>:
              <br>
              Subscription is an object that represents a disposable resource, usually the execution of an Observable. 
              <br>
              A Subscription has one important method, unsubscribe, that takes no argument and just disposes the resource held by the subscription. 
              <br>
              In previous versions of RxJS, Subscription was called "Disposable".
            </p>
        </div>
    </div>
</div>


<div class="row">
    <div class="story">
        <img style="max-width: 100%" src="../../assets/img/rxjs-subject.png" alt="">
    </div>
</div>

<div class="row">
    <div class="story">
        <img style="max-width: 100%" src="../../assets/img/producer_observable_subscribers.png" alt="">
    </div>
</div>


<div class="row">
    <div class="story">
        <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">Purity</h3>
            <p>
                What makes RxJS powerful is its ability to produce values using pure functions. That means your code is less prone to errors. <br>
                Normally you would create an impure function, where other pieces of your code can mess up your state. <br> <br>
            </p>
            <img style="max-width: 100%" src="../../assets/img/purity1.png" alt="">
            <p>
            Using RxJS you isolate the state.
            </p>
            <img style="max-width: 100%" src="../../assets/img/purity2.png" alt="">
            <p>
                The scan operator works just like reduce for arrays. <br>
                It takes a value which is exposed to a callback. <br>
                The returned value of the callback will then become the next value exposed the next time the callback runs.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="story">
        <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">Flow</h3>
            <p>
                RxJS has a whole range of operators that helps you control how the events flow through your observables. <br>
                This is how you would allow at most one click per second, with plain JavaScript: <br> <br>
            </p>
            <img style="max-width: 100%" src="../../assets/img/flow1.png" alt="">
            <p>
                With RxJS:
            </p>
            <img style="max-width: 100%" src="../../assets/img/flow2.png" alt="">
            <p>
                Other flow control operators are filter, delay, debounceTime, take, takeUntil, distinct, distinctUntilChanged etc.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="story">
        <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">Values</h3>
            <p>
                You can transform the values passed through your observables.<br>
                Here's how you can add the current mouse x position for every click, in plain JavaScript:. <br> <br>
            </p>
            <img style="max-width: 100%" src="../../assets/img/values1.png" alt="">
            <p>
                With RxJS:
            </p>
            <img style="max-width: 100%" src="../../assets/img/values2.png" alt="">
            <p>
                Other value producing operators are pluck, pairwise, sample etc.
            </p>
        </div>
    </div>
</div>


</section>
