<div class="u-center-text u-margin-top-huge">
    <a [routerLink]="['/home']" class="btn-text">&larr; Back Home</a>
</div>

<section class="section-stories">
  <!-- <div class="bg-video">
      <video class="bg-video__content" autoplay muted loop>
          <source src="../../../assets/img/video.mp4" type="video/mp4">
          <source src="../../../assets/img/video.webm" type="video/webm">
          Your browser is not supported!
      </video>
  </div> -->



  <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary">
          The Villa
      </h2>
  </div>

  <div class="row">
      <div class="story">
          <figure class="story__shape">
              <img src="../../assets/img/house7.png" alt="house logo" class="story__img">
              <figcaption class="story__caption">The Villa</figcaption>
          </figure>
          <div class="story__text">
              <h3 class="heading-tertiary u-margin-bottom-small">The Villa</h3>
              <p>
                Lorem ipsum <b>dolor sit amet, consectetur adipiscing elit</b> sed do eiusmod <b>tempor incididunt</b> ut labore et dolore magna aliqua.
                <br><br>
                Lorem ipsum <b>dolor sit amet, consectetur adipiscing elit</b> sed do eiusmod <b>tempor incididunt</b> ut labore et dolore magna aliqua.
                <br><br>
                Lorem ipsum <b>dolor sit amet, consectetur adipiscing elit</b> sed do eiusmod <b>tempor incididunt</b> ut labore et dolore magna aliqua.
                <br><br>
                Lorem ipsum <b>dolor sit amet, consectetur adipiscing elit</b> sed do eiusmod <b>tempor incididunt</b> ut labore et dolore magna aliqua.
                <br><br>
                Lorem ipsum <b>dolor sit amet, consectetur adipiscing elit</b> sed do eiusmod <b>tempor incididunt</b> ut labore et dolore magna aliqua.

              </p>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="story">
          <figure class="story__shape">
              <img src="../../assets/img/house7.png" alt="Person on a tour" class="story__img">
              <figcaption class="story__caption">Lorem ipsum</figcaption>
          </figure>
          <div class="story__text">
              <h3 class="heading-tertiary u-margin-bottom-small">Lorem ipsum</h3>
              <p>
                Lorem ipsum  dolor sit amet,<b>consectetur adipiscing elit</b>
                consectetur adipiscing elit.
                <br><br>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, otam rem aperiam, eaque ipsa
                <br><br>quae ab illo inventore veritatis et quasi <b>rchitecto beatae vitae</b> dicta sunt explicabo. 
                Nemo enim ipsam voluptatem quia voluptas:
                <br>
                * aspernatur aut odit aut fugit, sed quia consequuntur<br>
                * aspernatur aut odit aut fugit, sed quia consequuntur<br>
                * aspernatur aut odit aut fugit, sed quia consequuntur<br>
                * aspernatur aut odit aut fugit<br>
                * aspernatur aut odit aut fugit
              </p>
          </div>
      </div>
  </div>

  <div class="row">
    <div class="story">
        <figure class="story__shape">
            <img src="../../assets/img/villa_example.jpg" alt="Person on a tour" class="story__img">
            <figcaption class="story__caption">Lorem ipsum </figcaption>
        </figure>
        <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">Lorem ipsum </h3>
            <p>
                Lorem ipsum <b>dolor sit amet, consectetur adipiscing elit</b> sed do eiusmod <b>tempor incididunt</b> ut labore et dolore magna aliqua.
                <br><br>
                Lorem ipsum <b>dolor sit amet, consectetur adipiscing elit</b> sed do eiusmod <b>tempor incididunt</b> ut labore et dolore magna aliqua.
                <br><br>
                Lorem ipsum <b>dolor sit amet, consectetur adipiscing elit</b> sed do eiusmod <b>tempor incididunt</b> ut labore et dolore magna aliqua.
                <br><br>
                Lorem ipsum <b>dolor sit amet, consectetur adipiscing elit</b> sed do eiusmod <b>tempor incididunt</b> ut labore et dolore magna aliqua.
                <br><br>
                Lorem ipsum <b>dolor sit amet, consectetur adipiscing elit</b> sed do eiusmod <b>tempor incididunt</b> ut labore et dolore magna aliqua.

              </p>
        </div>
    </div>
</div>

<!--
<div class="row">
    <div class="story">
        <img style="max-width: 100%" src="../../assets/img/villa_example.jpg" alt="">
    </div>
</div>

<div class="row">
    <div class="story">
        <img style="max-width: 100%" src="../../assets/img/villa_example.jpg" alt="">
    </div>
</div>
-->

<div class="row">
    <div class="story">
        <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">Purity</h3>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, otam rem aperiam, eaque ipsa <br>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, otam rem aperiam, eaque ipsa. <br> <br>
            </p>
            <img style="max-width: 100%" src="../../assets/img/villa_example.jpg" alt="">
            <p>
                Sed ut perspiciatis unde omnis iste natus error
            </p>
            <img style="max-width: 100%" src="../../assets/img/villa_example.jpg" alt="">
            <p>
                Sed ut perspiciatis unde omnis iste natus  <br>
                Sed ut perspiciatis unde omnis iste natus error. <br>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, otam rem aperiam, eaque ipsa.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="story">
        <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">Flow</h3>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, otam rem aperiam, eaque ipsa <br>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, otam rem aperiam, eaque ipsa. <br> <br>
            </p>
            <img style="max-width: 100%" src="../../assets/img/villa_example.jpg" alt="">
            <p>
                Lorem ipsum :
            </p>
            <img style="max-width: 100%" src="../../assets/img/villa_example.jpg" alt="">
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, otam rem aperiam, eaque ipsa.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="story">
        <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">Lorem</h3>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem.<br>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, otam rem aperiam, eaque ipsa. <br> <br>
            </p>
            <img style="max-width: 100%" src="../../assets/img/villa_example.jpg" alt="">
            <p>
                Lorem ipsum:
            </p>
            <img style="max-width: 100%" src="../../assets/img/villa_example.jpg" alt="">
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
            </p>
        </div>
    </div>
</div>


<div class="row">
    <div class="story">
        <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">Links:</h3>
            <p>
                https://idealista.com<br><br>
            </p>
        </div>
    </div>
</div>


</section>
