<div class="u-center-text u-margin-top-huge">
    <a [routerLink]="['/home']" class="btn-text">&larr; Back Home</a>
</div>

<section class="section-stories">
  <!-- <div class="bg-video">
      <video class="bg-video__content" autoplay muted loop>
          <source src="../../../assets/img/video.mp4" type="video/mp4">
          <source src="../../../assets/img/video.webm" type="video/webm">
          Your browser is not supported!
      </video>
  </div> -->



  <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary">
          The Villa
      </h2>
  </div>

<!-- <div class="row">
      <div class="story">
          <figure class="story__shape">
              <img src="../../assets/img/house7.png" alt="house logo" class="story__img">
              <figcaption class="story__caption">The Villa</figcaption>
          </figure>
          <div class="story__text">
              <h3 class="heading-tertiary u-margin-bottom-small">The Villa</h3>
              <p>
                Two-floor house <b>dolor sit amet, consectetur adipiscing elit</b> sed do eiusmod <b>tempor incididunt</b> ut labore et dolore magna aliqua.
                <br><br>
                Lorem ipsum <b>dolor sit amet, consectetur adipiscing elit</b> sed do eiusmod <b>tempor incididunt</b> ut labore et dolore magna aliqua.
                <br><br>
                Lorem ipsum <b>dolor sit amet, consectetur adipiscing elit</b> sed do eiusmod <b>tempor incididunt</b> ut labore et dolore magna aliqua.
                <br><br>
                Lorem ipsum <b>dolor sit amet, consectetur adipiscing elit</b> sed do eiusmod <b>tempor incididunt</b> ut labore et dolore magna aliqua.
                <br><br>
                Lorem ipsum <b>dolor sit amet, consectetur adipiscing elit</b> sed do eiusmod <b>tempor incididunt</b> ut labore et dolore magna aliqua.

              </p>
          </div>
      </div>
  </div> -->

  <div class="row">
      <div class="story">
          <figure class="story__shape">
              <img src="../../assets/img/house7.png" alt="Person on a tour" class="story__img">
              <figcaption class="story__caption">The Villa</figcaption>
          </figure>
          <div class="story__text">
              <h3 class="heading-tertiary u-margin-bottom-small">The Villa</h3>
              <p>
                * Two-floor House<br>
                * 143 m² constructed area<br>
                * 3 Rooms, 1 WC<br>
                * in a 4400 m² land<br>
              </p>
          </div>
      </div>
  </div>

  <!-- <div class="row">
    <div class="story">
        <figure class="story__shape">
            <img src="../../assets/img/villa_example.jpg" alt="Person on a tour" class="story__img">
            <figcaption class="story__caption">Lorem ipsum </figcaption>
        </figure>
        <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">Lorem ipsum </h3>
            <p>
                Lorem ipsum <b>dolor sit amet, consectetur adipiscing elit</b> sed do eiusmod <b>tempor incididunt</b> ut labore et dolore magna aliqua.
                <br><br>
                Lorem ipsum <b>dolor sit amet, consectetur adipiscing elit</b> sed do eiusmod <b>tempor incididunt</b> ut labore et dolore magna aliqua.
                <br><br>
                Lorem ipsum <b>dolor sit amet, consectetur adipiscing elit</b> sed do eiusmod <b>tempor incididunt</b> ut labore et dolore magna aliqua.
                <br><br>
                Lorem ipsum <b>dolor sit amet, consectetur adipiscing elit</b> sed do eiusmod <b>tempor incididunt</b> ut labore et dolore magna aliqua.
                <br><br>
                Lorem ipsum <b>dolor sit amet, consectetur adipiscing elit</b> sed do eiusmod <b>tempor incididunt</b> ut labore et dolore magna aliqua.

              </p>
        </div>
    </div>
</div> -->

<!--
<div class="row">
    <div class="story">
        <img style="max-width: 100%" src="../../assets/img/villa_example.jpg" alt="">
    </div>
</div>

<div class="row">
    <div class="story">
        <img style="max-width: 100%" src="../../assets/img/villa_example.jpg" alt="">
    </div>
</div>
-->

<div class="row">
    <div class="story">
        <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">The Villa and the garden</h3>
            <img style="max-width: 100%" src="../../assets/img/exterior_jardin.jpg" alt="">
            <img style="max-width: 100%" src="../../assets/img/facahda.png" alt="">
            <img style="max-width: 100%" src="../../assets/img/fachada.jpg" alt="">
        </div>
    </div>
</div>

<div class="row">
    <div class="story">
        <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">The Rooms</h3>
            <img style="max-width: 100%" src="../../assets/img/habitacion_camas.jpg" alt="">
            <img style="max-width: 100%" src="../../assets/img/habitacion_grande.jpg" alt="">
            <img style="max-width: 100%" src="../../assets/img/camas_habitacion.jpg" alt="">
            <img style="max-width: 100%" src="../../assets/img/camas_habitacion2.jpg" alt="">



        </div>
    </div>
</div>

<div class="row">
    <div class="story">
        <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">The Hall</h3>
            <img style="max-width: 100%" src="../../assets/img/hall.jpg" alt="">
            <img style="max-width: 100%" src="../../assets/img/hall2.jpg" alt="">
            <img style="max-width: 100%" src="../../assets/img/hall3.jpg" alt="">
        </div>
    </div>
</div>

<div class="row">
    <div class="story">
        <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">Living Room</h3>
            <img style="max-width: 100%" src="../../assets/img/salon.jpg" alt="">
        </div>
    </div>
</div>

<div class="row">
    <div class="story">
        <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">Rooftop</h3>
            <img style="max-width: 100%" src="../../assets/img/azotea1.jpg" alt="">
            <img style="max-width: 100%" src="../../assets/img/azotea2.jpg" alt="">
        </div>
    </div>
</div>

<div class="row">
    <div class="story">
        <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">Bathroom</h3>
            <img style="max-width: 100%" src="../../assets/img/bano1.jpg" alt="">
            <img style="max-width: 100%" src="../../assets/img/bano2.jpg" alt="">
        </div>
    </div>
</div>

<div class="row">
    <div class="story">
        <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">Kitchen</h3>
            <img style="max-width: 100%" src="../../assets/img/cocina.jpg" alt="">
            <img style="max-width: 100%" src="../../assets/img/cocina2.jpg" alt="">
        </div>
    </div>
</div>

<div class="row">
    <div class="story">
        <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">Floor plan of the house</h3>
            <img style="max-width: 100%" src="../../assets/img/plano_casa.png" alt="">
        </div>
    </div>
</div>


<div class="row">
    <div class="story">
        <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">Link:</h3>
            <p>
                https://idealista.com<br><br>
            </p>
        </div>
    </div>
</div>


</section>
