<header class="header">
  <div class="header__logo-box">
      <img src="../../../assets/img/house7.png" alt="Logo" class="header__logo">
  </div>

  <div class="header__text-box">
      <h1 class="heading-primary">
          <span class="heading-primary--main">Villa in Xàtiva</span>
          <span class="heading-primary--sub">You dream Villa in a 4400 m² plot of land</span>
     

                <img style="width: 30%; height: 30%;" alt="Full logo" src="../../../assets/img/house7.png">

      </h1>

      <a (click)="scrollToElement()" class="btn btn--white btn--animated">Discover More</a>
  </div>
</header>
