<header class="header">
  <div class="header__logo-box">
      <img src="../../../assets/img/rxlogo.png" alt="Logo" class="header__logo">
  </div>

  <div class="header__text-box">
      <h1 class="heading-primary">
          <span class="heading-primary--main">RxJS</span>
          <span class="heading-primary--sub">a little guide to learn RxJS basics</span>
     

                <img style="width: 30%; height: 30%;" alt="Full logo" src="../../../assets/img/rxlogo.png">

      </h1>

      <a (click)="scrollToElement()" class="btn btn--white btn--animated">Discover More</a>
  </div>
</header>
