<app-navigator></app-navigator>

<div class="u-center-text u-margin-top-huge">
  <a [routerLink]="['/home']" class="btn-text">&larr; Back Home</a>
</div>

<section class="section-stories">
<!-- <div class="bg-video">
    <video class="bg-video__content" autoplay muted loop>
        <source src="../../../assets/img/video.mp4" type="video/mp4">
        <source src="../../../assets/img/video.webm" type="video/webm">
        Your browser is not supported!
    </video>
</div> -->



<div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">
        Operators
    </h2>
</div>

<div class="row">
    <div class="story">
        <figure class="story__shape">
            <img src="../../../assets/img/rxjspurple.jpg" alt="Person on a tour" class="story__img">
            <figcaption class="story__caption">Operators</figcaption>
        </figure>
        <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">Operators</h3>
            <p>
              Operators are <b>functions</b> that build on the <b>observables</b> foundation to enable sophisticated manipulation of collections.
              <br><br>
              For example, RxJS defines operators such as <b>map(), filter(), concat(), and flatMap().</b>
              <br><br>
              Operators take configuration options, and they return a function that takes a source observable.
              <br><br>
              When executing this returned function, the operator observes 	the source observable’s emitted values, transforms them, and returns a new observable of those transformed values.

            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="story">
        <figure class="story__shape">
            <img src="../../../assets/img/rxjswhite.jpg" alt="Person on a tour" class="story__img">
            <figcaption class="story__caption">Operators</figcaption>
        </figure>
        <div class="story__text">
            <h3 class="heading-tertiary u-margin-bottom-small">Operators</h3>
            <p>
              You can use <b>pipes</b> to link operators together. Pipes let you combine multiple functions into a single function.
              <br><br>
              The pipe() function takes as its arguments the 		functions you want to combine, and returns a new function that, when executed, runs the composed functions in sequence.
              <br><br>
              A set of operators applied to an observable is a recipe—that is, a set of instructions for producing the values you’re interested in. 
              <br><br>
              By itself, the recipe doesn’t do anything. You need to call subscribe() to produce a result through the recipe.
            </p>
        </div>
    </div>
</div>


<div class="row">
  <div class="story">
    <h3 class="heading-tertiary u-margin-bottom-small">Marble Diagrams</h3>
      <img style="max-width: 100%" src="../../../assets/img/marble-diagram.png" alt="">
  </div>
</div>


<div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">Some common operators and examples</h3>
          <p>
            RxJS provides many operators, but only a handful are used frequently. 
            <br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/Operator-table.png" alt="">
          
      </div>
  </div>
</div>

<div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">merge</h3>
          <p>
            Creates an output Observable which concurrently emits all values from every given input Observable. <br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/merge.png" alt="">

          <img style="max-width: 100%" src="../../../assets/img/merge-code.png" alt="">
      </div>
  </div>
</div>

<div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">switchMap</h3>
          <p>
            Projects each source value to an Observable which is merged in the output Observable, emitting values only from the most recently projected Observable. <br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/switch-map-marble.png" alt="">

          <img style="max-width: 100%" src="../../../assets/img/switch-map-code.png" alt="">
      </div>
  </div>
</div>


<div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">switchMap</h3>
          <p>
            Projects each source value to an Observable which is merged in the output Observable, emitting values only from the most recently projected Observable. <br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/switch-map-marble.png" alt="">

          <img style="max-width: 100%" src="../../../assets/img/switch-map-code.png" alt="">
      </div>
  </div>
</div>


<div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">skipWhile</h3>
          <p>
            Returns an Observable that skips all items emitted by the source Observable as long as a specified condition holds true, but emits all further source items as soon as the condition becomes false.<br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/skip-while-marble.png" alt="">

      </div>
  </div>
</div>

<div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">skipUntil</h3>
          <p>
            Returns an Observable that skips items emitted by the source Observable until a second Observable emits an item. <br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/skip-until-marble.png" alt="">

          <img style="max-width: 100%" src="../../../assets/img/skip-until-code.png" alt="">
      </div>
  </div>
</div>


<div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">takeUntil</h3>
          <p>
            Emits the values emitted by the source Observable until a notifier Observable emits a value. <br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/take-until-marble.png" alt="">

          <img style="max-width: 100%" src="../../../assets/img/take-until-code.png" alt="">
      </div>
  </div>
</div>

<div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">takeLast</h3>
          <p>
            Emits only the last count values emitted by the source Observable. <br> <br>
          </p>
          <img style="max-width: 100%" src="../../../assets/img/take-last-marble.png" alt="">

          <img style="max-width: 100%" src="../../../assets/img/take-last-code.png" alt="">
      </div>
  </div>
</div>


<div class="row">
  <div class="story">
      <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">Documentation Links</h3>
          <p>
            https://rxjs.dev/guide/operators<br><br>
            https://www.learnrxjs.io/learn-rxjs/operators <br> <br>
            https://rxmarbles.com/ <br> <br>
          </p>
      </div>
  </div>
</div>


</section>

<app-footer></app-footer>
