
<app-navigator></app-navigator>
<app-header></app-header>

<main>

  <section class="section-tours" id="section-tours">
      <div class="u-center-text u-margin-bottom-big">
          <h2 class="heading-secondary">
              What to know
          </h2>
      </div>

      <div class="row">
          <div class="col-1-of-3">
             <div class="card">
                 <div class="card__side card__side--front">
                      <div class="card__picture card__picture--1">
                          &nbsp;
                      </div>
                      <h4 class="card__heading">
                          <span class="card__heading-span card__heading-span--1">What is RxJS?</span>
                      </h4>
                      <div class="card__details">
                          <ul>
                              <li>Observable</li>
                              <li>Observer</li>
                              <li>Subscription</li>
                              <li>Operators</li>
                              <li>Subject</li>
                          </ul>
                      </div>
                 </div>
                 <div class="card__side card__side--back card__side--back-1">
                      <div class="card__cta">
                          <div class="card__price-box">
                              <p class="card__price-value">Purity</p>
                              <p class="card__price-value">Flow</p>
                              <p class="card__price-value">Values</p>

                          </div>
                          <a [routerLink]="['/the-villa']"class="btn btn--white">The Villa</a>
                      </div>
                  </div>
             </div>
          </div>


          <div class="col-1-of-3">
              <div class="card">
                  <div class="card__side card__side--front">
                      <div class="card__picture card__picture--2">
                          &nbsp;
                      </div>
                      <h4 class="card__heading">
                          <span class="card__heading-span card__heading-span--2">The Land</span>
                      </h4>
                      <div class="card__details">
                          <ul>
                              <li>Handle Asynchrony</li>
                              <li>Increase Functionality</li>
                              <li>Multiple Events</li>
                              <li>Powerful Tool</li>
                              <li>Infinite Posibilities</li>
                          </ul>
                      </div>

                  </div>
                  <div class="card__side card__side--back card__side--back-2">
                      <div class="card__cta">
                          <div class="card__price-box">
                              <p class="card__price-value">Streams</p>
                              <p class="card__price-value">Data Flow</p>
                              <p class="card__price-value">Lazy</p>
                          </div>
                          <a [routerLink]="['/the-land']" class="btn btn--white">The Land</a>
                      </div>
                  </div>
              </div>
          </div>


          <div class="col-1-of-3">
              <div class="card">
                  <div class="card__side card__side--front">
                      <div class="card__picture card__picture--3">
                          &nbsp;
                      </div>
                      <h4 class="card__heading">
                          <span class="card__heading-span card__heading-span--3">Create your own Operator</span>
                      </h4>
                      <div class="card__details">
                          <ul>
                              <li>Custom Operator</li>
                              <li>Operator is an Observable</li>
                              <li>.pipe()</li>
                              <li>.subscribe()</li>
                              <li>.unsubscribe()</li>
                          </ul>
                      </div>

                  </div>
                  <div class="card__side card__side--back card__side--back-3">
                      <div class="card__cta">
                          <div class="card__price-box">
                              <p class="card__price-value">Map</p>
                              <p class="card__price-value">Filter</p>
                              <p class="card__price-value">Reduce</p>

                          </div>
                          <a [routerLink]="['/some-data']" class="btn btn--white">Some Data</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="u-center-text u-margin-top-huge">
          <a [routerLink]="['/photos-and-videos']" class="btn btn--green">Check more Photos and Videos!</a>
      </div>
  </section>
</main>

<app-footer></app-footer>
<!-- 
<div class="popup" id="popup">
  <div class="popup__content">
      <div class="popup__left">
          <img src="../../../assets/img/nat-8.jpg" alt="Tour photo" class="popup__img">
          <img src="../../../assets/img/nat-9.jpg" alt="Tour photo" class="popup__img">
      </div>
      <div class="popup__right">
          <a href="#section-tours" class="popup__close">&times;</a>
          <h2 class="heading-secondary u-margin-bottom-small">Start booking now</h2>
          <h3 class="heading-tertiary u-margin-bottom-small">Important &ndash; Please read these terms before booking</h3>
          <p class="popup__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Sed sed risus pretium quam. Aliquam sem et tortor consequat id. Volutpat odio facilisis mauris sit
              amet massa vitae. Mi bibendum neque egestas congue. Placerat orci nulla pellentesque dignissim enim
              sit. Vitae semper quis lectus nulla at volutpat diam ut venenatis. Malesuada pellentesque elit eget
              gravida cum sociis natoque penatibus et. Proin fermentum leo vel orci porta non pulvinar neque laoreet.
              Gravida neque convallis a cras semper. Molestie at elementum eu facilisis sed odio morbi quis. Faucibus
              vitae aliquet nec ullamcorper sit amet risus nullam eget. Nam libero justo laoreet sit. Amet massa
              vitae tortor condimentum lacinia quis vel eros donec. Sit amet facilisis magna etiam. Imperdiet sed
              euismod nisi porta.
          </p>
          <a [routerLink]="['/operators']" class="btn btn--green">Operators</a>
      </div>
  </div>
</div> -->