
<section class="section-features">
      
  <div class="row">
      <div class="col-1-of-4">
          <div class="feature-box">
              <i class="feature-box__icon icon-basic-world"></i>
              <h3 class="heading-tertiary u-margin-bottom-small">The Best Way To Handle Asynchrony</h3>
              <p class="feature-box__text">
                RxJS allows you to solve hard problems with less code, promotes maintainability, readability, flexibility, and composability.
                More than 100 operators to choose from.
              </p>
          </div>
      </div>

      <div class="col-1-of-4">
          <div class="feature-box">
              <i class="feature-box__icon icon-basic-compass"></i>
              <h3 class="heading-tertiary u-margin-bottom-small">Increase Functionality Without A Refactor</h3>
              <p class="feature-box__text">
                With the power operators, you can easily add functionality to existing code without altering it.
                More resources instead of using promises and callbacks.
              </p>
          </div>
      </div>

      <div class="col-1-of-4">
          <div class="feature-box">
              <i class="feature-box__icon icon-basic-map"></i>
              <h3 class="heading-tertiary u-margin-bottom-small">RxJS works with any framework</h3>
               <p class="feature-box__text">
                Angular, react, ember, vue, node, and even without frameworks, it’s easy to future proof your applications and have confidence in using this technology.
              </p>
          </div>
      </div>

      <div class="col-1-of-4">
          <div class="feature-box">
              <i class="feature-box__icon icon-basic-heart"></i>
              <h3 class="heading-tertiary u-margin-bottom-small">Great for state management with asynchronous data flows</h3>
              <p class="feature-box__text">
                With Rx, you can handle this in a declarative and flexible way alongside redux or as a replacement for redux.
              </p>
          </div>
      </div>
  </div>
</section>
