<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

  <label for="navi-toggle" class="navigation__button">
      <span class="navigation__icon">&nbsp;</span>
  </label>

  <div class="navigation__background">&nbsp;</div>

  <nav class="navigation__nav">
      <ul class="navigation__list">
          <li class="navigation__item"><a [routerLink]="['/home']" class="navigation__link"><span>01</span>Home</a></li>
          <li class="navigation__item"><a [routerLink]="['/the-villa']"  class="navigation__link"><span>02</span>The Villa</a></li>
          <li class="navigation__item"><a [routerLink]="['/the-land']" class="navigation__link"><span>03</span>The Land</a></li>
          <li class="navigation__item"><a [routerLink]="['/photos-and-videos']" class="navigation__link"><span>04</span>Photos and Videos</a></li>
          <li class="navigation__item"><a [routerLink]="['/some-data']" class="navigation__link"><span>05</span>Some Data</a></li>
          </ul>
  </nav>
</div>