<section class="section-about">
  <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary">
          Why RxJS
      </h2>
  </div>

  <div class="row">
      <div class="col-1-of-2">
        <p class="paragraph">
            * Emitting multiple values asynchronously is very easily handled with Observables <br><br>
            * Error handlers can also easily be done inside Observables rather than a construct like promises<br><br>
            * Observables are considered lazy, so in case of no subscription there will be no emission of data values<br><br>
            * Observables can be resolved multiple times as opposed to functions or even promises
        </p>
          <h3 class="heading-tertiary u-margin-bottom-small">What is a Stream?</h3>
          <p class="paragraph">
            A stream is basically a sequence of data values over time, this can range from a simple increment of numbers printed in 6 seconds (0,1,2,3,4,5) or coordinates printed over time, and even the data value of inputs in a form or chat texts passed through web sockets or API responses. These all represent data values that will be collected over time, hence the name stream.

          </p>

          <a [routerLink]="['/home']" class="btn-text">Back Home &larr;</a>
          
      </div>
      <div class="col-1-of-2">
          <div class="composition">

              <img srcset="../../../assets/img/combineLatest.png 300w, ../../../img/combineLatest.png 1000w"
                   sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                   alt="Photo 1"
                   class="composition__photo composition__photo--p1"
                   src="../../../assets/img/combineLatest.png">

              <img srcset="../../../assets/img/merge.png 300w, ../../merge.png 1000w"
                   sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                   alt="Photo 2"
                   class="composition__photo composition__photo--p2"
                   src="../../../assets/img/merge.png">

              <img srcset="../../../assets/img/map.png 300w, ../../map.png 1000w"
                   sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                   alt="Photo 3"
                   class="composition__photo composition__photo--p3"
                   src="../../../assets/img/map.png">

              <!--
              <img src="img/nat-1-large.jpg" alt="Photo 1" class="composition__photo composition__photo--p1">
              <img src="img/nat-2-large.jpg" alt="Photo 2" class="composition__photo composition__photo--p2">
              <img src="img/nat-3-large.jpg" alt="Photo 3" class="composition__photo composition__photo--p3">
              -->
          </div>
      </div>
  </div>
</section>
